<div class="row">
    <div class="col-xs-12">
        <div class="pull-left"><h1>Contacts</h1></div>
        <div class="pull-right"> <br> <button class="btn btn-success">New Contact</button></div>
    </div>
</div>
<hr class="new5">
<div class="row">
    <div class="col-xs-12">
        <a href="#" 
            class="list-group-item clearfix" 
            *ngFor="let contact of contacts">

                <div class="pull-left">
                    <h4 class="list-group-item-heading">{{ contact.name }}</h4>
                </div>
        
            <span class="pull-right">
                <img
                     src="{{ contact.imageUrl }}" 
                     alt="{{ contact.name }}" 
                     class="img-reponsive" 
                     style="max-height: 80px;">
            </span>
        </a>       
    </div>
</div>
